<table cellpadding="0" cellspacing="0" width="100%" class="tDefault checkAll tMedia" id="checkAll">
  <thead>
      <tr>
        <td><img src="/assets/elements/other/tableArrows.png" alt="" /></td>
        <%= sortable "id", :html_options => {:width => 50} %>
        <%= sortable "last_name", :title => 'Name' %>
        <%= sortable "email" %>
        <%= sortable "created_at", :html_options => {:width => 130} %>
        <td width="120">Roles</td>
        <td width="100">Actions</td>
      </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="6">
      <div class="tPages">
          <%= paginate @users,
                       :theme => 'pagelist'
          %>
      </div>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><input type="checkbox" name="checkRow" /></td>
        <td><%= user.id %></td>
        <td class="textL"><%= link_to user.last_name + ', ' + user.first_name, user %></td>
        <td class="textL"><%= link_to user.email, user %></td>
        <td><%= user.created_at.strftime("%b %d, %Y %I:%M:%S %p") %></td>
        <td>
          <ul>
            <% user.roles.each do |role| %>
                <li><%= role.name.titleize %></li>
            <% end %>
          </ul>
        </td>
        <td class="tableActs">
          <%= link_to raw('<span class="iconb" data-icon="&#xe1db;"></span>'), edit_user_path(user), :title => 'Edit User', :class => 'tablectrl_small bDefault tipS' %>
          <%= link_to_unless user == current_user, raw('<span class="iconb" data-icon="&#xe136;"></span>'), user, :method => :delete,
                                     confirm: 'Are you sure?',
                                     remote: true,
                                     title: 'Remove ' + user.first_name + ' ' + user.last_name,
                                     class: 'tablectrl_small bDefault tipS delete_user'
          %>
          <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>