
<table cellpadding="0" cellspacing="0" width="100%" class="table table-striped table-flipscroll" id="users">
  <thead>
  <tr>
    <td><img src="/assets/elements/other/tableArrows.png" alt="" /></td>
    <%= sortable "id", :html_options => {:width => 50} %>
    <%= sortable "last_name", :title => 'Name' %>
    <%= sortable "email" %>
    <%= sortable "created_at", :html_options => {:width => 130} %>
    <td width="120">Roles</td>
    <td width="100">Actions</td>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="7">
      <div class="row-fluid">
        <div class="span10 offset2">
          <div class="pagination bootstrap_pagination pull-right">
            <%= paginate @users,
                         :theme => 'pagelist'
            %>
          </div>
        </div>
      </div>

    </td>
  </tr>
  </tfoot>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><input type="checkbox" name="checkRow" /></td>
        <td><%= user.id %></td>
        <td class="textL"><%= link_to user.last_name + ', ' + user.first_name, user %></td>
        <td class="textL"><%= link_to user.email, user %></td>
        <td><%= user.created_at.strftime("%b %d, %Y %I:%M:%S %p") %></td>
        <td>
          <ul class="unstyled">
            <% user.roles.each do |role| %>
                <li><%= role.name.titleize %></li>
            <% end %>
          </ul>
        </td>
        <td class="action-col">
          <span class="btn-group">
            <%= link_to raw('<i class="icon-search"></i>'), user_path(user), :title => 'View Profile', :class => 'btn btn-small' %>
            <%= link_to raw('<i class="icon-pencil"></i>'), edit_user_path(user), :title => 'Edit User', :class => 'btn btn-small' %>
            <%= link_to_unless user == current_user, raw('<i class="icon-trash"></i>'), user, :method => :delete,
                               confirm: "Are you sure you want to delete '#{user.first_name} #{user.last_name}'?",
                               remote: true,
                               data: { 'script' => '/users'},
                               title: "Remove #{user.first_name} #{user.last_name}",
                               class: "btn btn-small delete_user"
            %>
            <%= content_tag :span,raw('<i class="icon-trash"></i>'), :class => 'btn btn-small disabled' if user == current_user %>
          </span>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>