<table cellpadding="0" cellspacing="0" width="100%" class="tDefault checkAll tMedia" id="checkAll">
  <thead>
  <tr>
    <td><img src="/assets/elements/other/tableArrows.png" alt="" /></td>
    <td width="50">Image</td>
    <td><%= sortable "last_name", 'Name (Last Name, First Name)' %></td>
    <td width="130"><%= sortable "created_at" %></td>
    <td width="120">File info</td>
    <td width="100">Actions</td>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="6">
      <%= will_paginate @users %>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><input type="checkbox" name="checkRow" /></td>
        <td><a href="/assets/big.png" title="" class="lightbox"><img src="/assets/live/face1.png" alt="" /></a></td>
        <td class="textL"><%= link_to user.first_name + ' ' + user.last_name, user %></td>
        <td><%= user.created_at.strftime("%b %d, %Y %I:%M:%S %p") %></td>
        <td class="fileInfo"><span><strong>Size:</strong> 215 Kb</span><span><strong>Format:</strong> .jpg</span></td>
        <td class="tableActs">
          <a href="#" class="tablectrl_small bDefault tipS" title="Edit"><span class="iconb" data-icon="&#xe1db;"></span></a>
          <a href="#" class="tablectrl_small bDefault tipS" title="Remove"><span class="iconb" data-icon="&#xe136;"></span></a>
          <a href="#" class="tablectrl_small bDefault tipS" title="Options"><span class="iconb" data-icon="&#xe1f7;"></span></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>