
<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <div class="row-fluid">
      <%= f.input :first_name, :wrapper => :input_only, :input_html => { :class => "span12" }, :wrapper_html => { :class => 'span6' }, :placeholder => "First Name" %>

      <%= f.input :last_name, :wrapper => :input_only, :input_html => { :class => "span12" }, :wrapper_html => { :class => 'span6' }, :placeholder => "Last Name" %>
    </div>

  </div>
</div>



<%= f.input :email, :placeholder => "Your Email" %>

<%= f.input :password, :placeholder => "Password" %>

<%= f.input :password_confirmation, :placeholder => "Confirm Password" %>

<%= f.association :roles, :collection => Role.all,:label_method => lambda { |role| role.name.titleize },:input_html => {:class => 'fullwidth multiple-token', 'data-placeholder' => 'Click or Type to Select User Roles'} %>

