

<div class="row-fluid">
  <div class="span12 widget">
    <div class="widget-header">
      <span class="title">Edit <%= @user.name %></span>
    </div>
    <div class="widget-content form-container">
      <%= devise_error_messages! %>
      <%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
          <%= render :partial => 'user_fields', :locals => { :f => f } %>
          <div class="form-actions">
            <%= f.button :submit, "Update User", :class => 'btn btn-primary' %>
            <a class="btn" href="<%= user_path(@user) %>">Cancel</a>
          </div>
      <% end %>
    </div>
  </div>
</div>