<%= simple_form_for @user do |f| %>

    <%= devise_error_messages! %>

    <div class="widget fluid">

      <div class="whead">
        <h6>Edit <%= @user.first_name %> <%= @user.last_name %></h6>
        <div class="clear"></div>
      </div>

      <%= render :partial => 'user_fields', :locals => { :f => f } %>

      <div class="formRow">
        <div class="grid2">&nbsp;</div>
        <div class="grid10">
          <%= f.button :submit, "Edit User", :class => 'bGreen' %>
        </div>
        <div class="clear"></div>
      </div>

    </div>


<% end %>