<% content_for :title, "Users" %>
<% content_for :h1, "All Users" %>

<div class="row-fluid">
  <div class="widget span12">
    <div class="widget-header">
      <span class="title">Users</span>
    </div>
    <div class="widget-content table-container">
      <div class="dataTables_wrapper form-inline">
        <div class="dt_header">
          <div class="row-fluid">
            <div class="span6">
              <%= form_tag users_path, :method => 'get', :id => 'user-search', 'onSubmit' => 'return false;' do %>
                  <%= hidden_field_tag :direction, params[:direction] %>
                  <%= hidden_field_tag :sort, params[:sort] %>
                  <%= hidden_field_tag :per_page, params[:per_page], :id => 'search-per-page' %>
                  <label>
                    <span>Search:</span>
                    <%= text_field_tag :search, params[:search], :placeholder => 'Type to Search' %>
                    <div class="srch"></div>
                  </label>
              <% end %>
            </div>
            <div class="span6">
                <%= form_tag users_path, :method => 'get', :id => 'user-per-page', :class => 'pull-right' do %>
                    <%= hidden_field_tag :direction, params[:direction] %>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= hidden_field_tag :search, params[:search], :id => 'per-page-search' %>
                    <label>
                      <span>Search:</span>
                      <%= select_tag :per_page, options_for_select([5,10,20,50,100]), :class => 'input-mini' %>
                    </label>
                <% end %>
            </div>
          </div>

      </div>

        </div>
        <div id="user-table">
          <%= render :partial => 'users' %>
        </div>
    </div>
  </div>
</div>