<% content_for :title, "Add New User" %>
<% content_for :h1, "Add New User" %>


<div class="row-fluid">
  <div class="span12 widget">
    <div class="widget-header">
      <span class="title">Add New User</span>
    </div>
    <div class="widget-content form-container">
      <%= devise_error_messages! %>
      <%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
          <%= render :partial => 'user_fields', :locals => { :f => f } %>
          <div class="form-actions">
            <%= f.button :submit, "Create User", :class => 'btn btn-primary' %>
            <a class="btn" href="<%= request.referer %>">Cancel</a>
          </div>
      <% end %>
    </div>
  </div>
</div>