<section id="login-form" class="login-inner-form active">
  <h1>Login</h1>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-vertical' } ) do |f| %>
      <div class="control-group">
        <%= f.input :email,
                    :autofocus => true,
                    :wrapper => :input_only,
                    :placeholder => "Email Address",
                    :input_html => { :class => 'big', :id => 'input-username' } %>

        <%= f.input :password,
                    :wrapper => :input_only,
                    :placeholder => "Password",
                    :input_html => { :class => 'big', :id => 'input-password' } %>


      </div>
      <%= f.input :remember_me, :as => :boolean, :wrapper => :boolean_inline, :input_html => { :class => 'uniform' } if devise_mapping.rememberable? %>
      <div class="form-actions">
        <%= f.button :submit, "Login", :class => 'btn btn-info btn-block btn-large' %>
      </div>
  <% end %>
</section>
