<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Usertesting" %></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <%= stylesheet_link_tag "application-all", :media => "all" %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>

    <!--[if lte IE 9]>
        <%= stylesheet_link_tag "application-ie", :media => "all" %>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <div id="wrapper">
      <%= render :partial => 'header' %>
      <div id="content-wrap">
         <div id="content-outer">
           <div id="content-inner">
             <%= render :partial => 'sidebar' %>
             <div id="sidebar-separator"></div>
             <section id="main" class="clearfix">
                <div id="main-header" class="page-header">
                    <%= render_navigation :renderer => :custom_breadcrumbs, :context => :sidebar, :class => 'breadcrumb'  %>
                  <h1 id="main-heading">
                    <%= content_for?(:title) ? yield(:title) : "Usertesting" %>
                  </h1>
                </div>
                <%= render 'layouts/messages' %>
                <%= yield %>
             </section>

           </div>
         </div>
      </div>
      <%= render :partial => 'footer' %>
    </div>

    </div>
  </body>
</html>